<h1>収支詳細</h1>

<p>日付: <%= @transaction.date %></p>
<p>種別: <%= @transaction.transaction_type == "income" ? "収入" : "支出" %></p>
<p>金額: <%= number_with_delimiter(@transaction.amount) %>円</p>
<p>メモ: <%= @transaction.memo %></p>

<% if @transaction.receipt.present? %>
  <p>レシート: <%= link_to "確認する", receipt_path(@transaction.receipt) %></p>
<% else %>
  <p><%= link_to "レシートをアップロード", new_transaction_receipt_path(@transaction) %></p>
<% end %>